webhook:
  image:
    repository: emirozbir/dashdns-admission-webhook
    tag: "v2.0.3"
    pullPolicy: Always
  replicas: 1
  dns_service:
    name: dnsd-dashdns
    namespace: "default"
  certChain:
    ca: ""
    cert: ""
    key: ""
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi

controller:
  replicaCount: 1
  image:
    repository: emirozbir/dashdns-controller
    pullPolicy: Always
    tag: "v2.0.3"

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  podAnnotations: {}
  podLabels: {}

  podSecurityContext: {}

  securityContext: {}
  service:
    type: ClusterIP
    port: 8443
    apiPort: 5959

  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}